.auth-card {
  max-width: 400px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form mat-form-field {
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.text-center .signup-btn {
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
}

.text-center .reset-btn {
  background-color: #ff0000; /* Red color for reset button */
  color: white;
}

.signup-link p {
  margin: 0;
}

.signup-link a {
  color: #007bff;
}

.signup-link a:hover {
  text-decoration: underline;
}
mat-card{
  background-color: #f0f8ff;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    color: red;
    font-size: 14px;
  }
  
  li.valid {
    color: green;
  }
  