mat-card {
    margin: 20px;
    padding: 20px;
    width: 450px;  
    height: 350px; 
    margin-top: 150px;
    margin-left: 370px;

}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}
mat-card-title{
    color: rgb(0, 119, 255);
}
mat-card{
    background-color: #f0f8ff;
    }