.auth-card {
    max-width: 400px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form mat-form-field {
    margin-bottom: 16px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  
  .text-center .signup-btn {
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
  }
  
  .text-center .reset-btn {
    background-color: #ff0000; /* Red color for reset button */
    color: white;
  }
  
  .signup-link p {
    margin: 0;
  }
  
  .signup-link a {
    color: #007bff;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  .back-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
  }
  mat-card-header {
    background-color: #f0f8ff;
    }

    mat-card{
      background-color: #f0f8ff;
      }
  
  mat-card-title {
    font-size: 1.5em;
    color: #3f51b5;
  }