<div class="container mt-5" style="margin-top: 100px;" >
    <mat-card class="auth-card mx-auto" style = "margin-top: 150px;">
        <mat-card-header style="margin-bottom: 10px;">
            <mat-card-title>Forgot Password</mat-card-title>
            <button mat-icon-button class="back-button" color="primary" (click)="goBack()">
              <mat-icon class="blue-icon">arrow_back</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="auth-form">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>User Name</mat-label>
                <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Registered Email Id</mat-label>
                <input matInput type="email" id="email" [(ngModel)]="email" name="email" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" [(ngModel)]="password" name="password" required>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('password')" type="button">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')" type="button">
                <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
    
            <div class="button-group text-center mt-4">
                <button mat-raised-button color="primary" type="submit" class="w-100 signup-btn">Change Password</button>
            </div>

            </form>
        </mat-card-content>
    </mat-card>
  </div>
  